h1 {
    color: #FF0000;
    font-size: 30px;
    background-color: orange;
    margin: 10px 10px;
    border: 5px solid red;
    padding: 5px;
}
p{
    border: 5px dotted  green;
}
#h3{
    color: blue;
}
h1,h3{
    color: yellow;
    border: 5px solid rosybrown;
}
.h3class{
    color: aquamarine;
}
img{
    height: 180px;
    width: 300px;
}